@model MedicalTestsMVC.Models.LocalPasswordModel
    <body>
    </body>
<p>
    У Вас нет локального пароля для этого сайта. Добавьте пароль, тобы Вы могли войти без внешнего логина.

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Установить форму пароля</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Задать пароль" />
    </fieldset>
}
