@model IEnumerable<MedicalTests.Domain.Modules>

@{
    ViewBag.Title = "Направления";
}

<h2>Направления</h2>
<body>
</body>
@using (Html.BeginForm("Index", "Modules", FormMethod.Post))
{
    <button type="submit" name="action" value="ClearTable">Очистить таблицу</button>
    <p>
    </p>
}
<p>
    @Html.ActionLink("Создать направление", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameModule)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameModule)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_Module }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.ID_Module }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_Module })
            </td>
        </tr>
    }

</table>
